@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rounded_Elegance';
    src: local('Rounded_Elegance'), url(./fonts/Rounded_Elegance.woff) format('woff');
  }

  * {
    font-family: 'Rounded_Elegance';
  }